{% extends "base.html.twig" %}
{% block body %}
<main>
     <div class="theReceipt">
        <div class="details">
            <div class="accountImage">
                <img src="{{asset('./ressource/img/account/' ~ article.user.photouser)}}" alt="" srcset="">
            </div>
            <p>&#8226;</p>
            <p>{{article.user.firstname ~ ' ' ~ article.user.lastname}}</p>
            <p>&#8226;</p>
            <p>{{article.creationdate | date("Y/d/m H:i")}}</p>
            <p>&#8226;</p>
            <p>{{ article.category.catname }}</p>
        </div>
        <div class="receipt">
            <h2>{{ article.title }}</h2>
            <p>{{ article.smalldesc }}</p>
        </div>
        <div class="image">
            <img src="{{ asset('./ressource/img/article/temp/') ~ article.photoarticle }}" alt="" srcset="">
        </div>

        <div class="receiptInstructions">
            <p>{{article.content}}</p>
        </div>
        {% if article.countValidatedComments(article.comments)  > 0 %}
            <div class="comment">
                <i class="fas fa-comment-alt"></i>
                <p class="numberComment">{{article.countValidatedComments(article.comments)}} Commentaires</p>

            </div>
            {% for comment in article.comments %}
                {% if comment.status == 1 %}
                <div class="commentContent">
                    <p class="commentContentText">{{comment.contentcomment}}</p>
                    <p class="author">Rédigé par {{comment.user.lastname}}  {{comment.user.firstname}}, le {{comment.datecreated | date("Y/d/m H:i")}} </p>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="comment">
                <i class="fas fa-comment-alt"></i>
                <p class="numberComment">0 Commentaires</p>
            </div>
        {% endif %}
    {% if app.user %}
        {{ form_start(form, {'action':  asset('/article/add_comment/' ~ article.id),'attr':{'class':'formComment'} }) }}
            <div>
                <p id="message" style="color: green;">
                {% if messageComment %}
                    {{messageComment}}
                {% endif %}
                </p>
            </div>
            <div class="pseudo">
                <label for="pseudo">Pseudo</label>
                {{ form_widget(form.sender,{'attr':{'value':app.user.pseudo}}) }}
            </div>
            <div class="comment">
                <label for="comment">Commentaires</label>
                {{ form_widget(form.contentcomment,{'attr':{'rows':5,'placeholder':'Votre commentaire...','type':'text'}}) }}
            </div>
            <div class="button">
                <button type="submit" name="postComment">Envoyer</button>
            </div>
        {{ form_end(form) }}
    {% endif %}
    {# <div class="recentReceipts">
        <?php foreach ($articles as $elem) : ?>
            <div class="receipt1">
                <div class="completeReceipt">
                    <div class="image">
                        <img src="./ressource/img/article/temp/<?= $elem["photoarticle"] ?>" alt="" srcset="">
                    </div>
                    <div class="details">
                        <div class="accountImage">
                            <img src="./ressource/img/account/<?= $elem["photouser"] ?>" alt="" srcset="">
                        </div>
                        <p>&#8226;</p>
                        <p><?= $elem["lastname"] . " " ?><?= $elem["firstname"] ?> </p>
                        <p>&#8226;</p>
                        <p><?= $elem["creationdate"] ?></p>
                        <p>&#8226;</p>
                        <p><?= $elem["catname"] ?></p>
                    </div>
                    <div class="receipt">
                        <h2><?= $elem["title"] ?></h2>
                        <p><?= substr($elem["smalldesc"], 0, 50) . "[...]" ?></p>
                    </div>
                    <form action="#" method="get" class="formDetail">
                        <input type="hidden" name="idArticle" value=<?= $elem["idarticle"] ?>>
                        <input type="hidden" name="controller" value="articlecontroller">
                        <button name="action" value="showArticle">Voir plus</button>
                    </form>
                    <div class="comment">
                        <i class="fas fa-comment-alt"></i>
                        <p><?= $elem["countComment"] ?> Commentaires</p>
                    </div>
                </div>
            </div>
        <?php endforeach ?>
    </div>
    </div> #}
</main>

{% endblock %}