{% extends "base.html.twig" %}

{% block body %}

<main>
    {{ form_start(form, {'attr':{'class':'formContact'}}) }}
    {% if messageToUser %}
        <h2>{{messageToUser}}</h2>
    {% endif %}
        <div class="email">
            <label for="email">Email</label>
            {{form_widget(form.senderemail,{'label':false,'attr':{'placeholder':'Votre message'}}) }}   
        </div>
        <div class="message">
            <label for="message">Message</label>
            {{form_widget(form.content,{'label':false, 'attr':{'rows':'5','placeholder':'Votre message'}}) }}   
        </div>
        <div class="button">
            <button type="submit" name="action" value="sendMessage">Envoyer</button>
        </div>
    {{ form_end(form)}}
</main>


{% endblock %}